<div ng-controller="viewStepController">
  <div class="navbar-default sidebar sidebar-tutorial" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li><a ng-click="viewStepDetails=1"><h2>{{tutorial.title}}</h2></a></li>
        <li ng-repeat="step in steps" class="step-style">
          <a ng-click="stepDetails(step.id)">{{ $index+1 }} - {{step.title}}</a>
        </li>
      </ul>

      <footer class="tutorial-sticky-footer" ng-show = "testUser.user_type == 1">
        <div class="">
          <a class="btn btn-default btn-xs" href="" ng-click="addStep()" role="button" id="tooltip_1" data-toggle="tooltip" data-placement="right" title="Add Step"><i class="fa fa-plus"></i></a>
        </div>
      </footer>
    </div>
  </div>

  <div id="wrapper" >
    <div id="page-wrapper">
      <div class="row">
        <div class="tutorial-container">
          <div class="col-lg-12">

            <section ng-switch="viewStepDetails">
              <div ng-switch-when="1">
                <form name="form" role="form" ng-submit="editTutorial()" novalidate class="create-tutorial">
                  <h3>
                    <div class"row">
                      <div class="col-md-10" ng-hide="edit" style="padding-left: 0;">
                        <small>Tutorial Name:</small> {{tutorial.title}}
                      </div>
                      <div class="col-md-12" ng-show="edit">
                        <div class="col-md-2" >
                          <small>Tutorial Name:</small> 
                        </div>
                        <div class="col-md-10" >
                          <input name="title" class="form-control" ng-model="tutorial.title" required=""><br>
                        </div>
                      </div>
                      <div class="col-md-2" ng-hide="edit"> 
                        <p ng-show = "testUser.user_type == 1" align="right"><a href="" ng-click = "editForm()" class="btn btn-default btn-sm" >Edit <i class="fa fa-pencil-square-o"></i></a></p>
                      </div>
                    </div>
                  </h3>

                  <div class="row">
                    <div class="add-steps-tutorial">
                      <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="panel-body">
                              <div class="form-group">
                                <div class="media">
                                  <div class="media-body">
                                    <div ng-show="form.$submitted || form.title.$touched">
                                      <p ng-show="!tutorial.title ">Please input project title.</p>
                                    </div>
                                    <label>Description</label><br>
                                    <span ng-hide="edit">{{tutorial.description}}</span>
                                    <textarea ng-show="edit" name="desc" class="form-control" rows="5" ng-model="tutorial.description" required></textarea>
                                    <div ng-show="form.$submitted || form.desc.$touched">
                                      <p ng-show="form.desc.$error.required">Please input description for the project.</p>
                                    </div>
                                  </div>
                                </div>                 
                              </div> 
                              <div class="form-group">
                                <label>Implemented On: <span ng-hide="edit" class="label label-default">{{tutorial.implementedOn}}</span></label>
                                <select class="form-control" ng-model="tutorial.implementedOn" ng-show="edit">
                                  <option value="Rails">Rails</option>
                                  <option value="AngularJS">AngularJS</option>
                                  <option value="HTML/CSS">HTML/CSS</option>
                                </select> 
                              </div>
                              <div class="form-group">
                                <label ng-hide="edit" >Difficulty:<rating readonly="true" ng-model="tutorial.difficulty" max="max" class="star-rating"></rating></label> 
                                <label ng-show="edit" >Difficulty:<rating  ng-model="tutorial.difficulty" max="max" class="star-rating"></rating></label> 
                              </div>
                              <div ng-show="edit" class="form-group">
                                <p class="text-right">
                                  <p align="right">
                                     <button type="submit" class="btn btn-default">Save Tutorial</button> 
                                    <a href="" ng-click = "cancelEdit()" class="btn btn-default" >Cancel</a>
                                  </p>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <p align="right"><a href="#/project/{{project.id}}" class="btn btn-default btn-sm" >Back to Project</a></p>
              </div>

              <div ng-switch-when="2">
                <div class="page-header">
                  <h1>{{step.title}} <span style="text-align: right; float: right;"><a ng-show = "testUser.user_type == 1" href="" ng-click="editStep(step.id)" class="btn btn-default btn-sm">Edit <i class="fa fa-pencil-square-o"></i></a></span></h1>
                </div>
                <div btf-markdown="step.body" class="tutorial-content">
                </div>
              </div>

              <div ng-switch-when="3">
                <div class="page-header">
                  <h1>Add Step</h1>
                </div>
                <tabset justified="true">
                    <!-- ########################### WRITE ################################ -->
                    <tab heading="Documentation">
                      <div class="panel panel-default add-step-tabs">
                        <div class="panel-body">
                          <form name="form" role="form" ng-submit="addNewStep()" novalidate  class="create-project">
                            <div class="form-group">
                                <label>Title</label>
                                <input name="title" class="form-control" ng-model="step.title" required>
                                <div ng-show="form.$submitted || form.title.$touched">
                                  <p ng-show="form.title.$error.required">You need to input description for the project.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                <textarea name="body" class="form-control" rows="20" ng-model="step.body" required></textarea>
                                <div ng-show="form.$submitted || form.body.$touched">
                                  <p ng-show="form.body.$error.required">You need to input description for the project.</p>
                                </div>
                            </div>
                            <div class="form-group text-right">
                              <button type="submit" class="btn btn-default btn-lg btn-cyan">Save Step</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </tab>
                    <!-- ########################### PREVIEW ################################ -->
                    <tab heading="Preview">
                      <div class="panel panel-default add-step-tabs">
                        <div class="panel-body">
                          <div btf-markdown="step.body">
                          </div>
                        </div>
                      </div>
                    </tab>
                    <!-- ########################### ASSETS ################################ -->
                    <tab heading="Assets">
                      <div class="panel panel-default add-step-tabs">
                        <div class="panel-body">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Copy the URL</b>
                            </div>
                            <div class="panel-body">
                              <div class="col-lg-3 col-md-4" ng-repeat="image in images">
                                <img src="{{image.image_url}}" class="img-thumbnail">
                                <div class="form-group" style="margin-top: 10px;">
                                  <input class="form-control" ng-model="image.image_url" required>
                                </div>
                              </div>
                            </div>
                          </div>

                          
                          <form ng-submit="imageProfile()">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group profile-photo">
                                  <span class="file-input btn btn-block btn-file" uploader="uploader" >
                                    <div class="jumbotron" >
                                      <ul >
                                        <i class="fa fa-camera"> Upload Image</i>
                                      <ul>
                                    </div> 
                                    <input type="file" nv-file-select="" uploader="uploader" required/>
                                  </span >
                                </div>


                                <div class="form-group">
                                  <p align="right" ng-hide="asd">
                                    <button type="submit" class="btn btn-default btn-lg btn-black">Upload Image</button>
                                  </p>
                                  <p align="right" ng-show="asd">
                                    <button type="submit" class="btn btn-default btn-lg btn-black" disabled="disabled">Uploading Image</button>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </tab>
                  </tabset>
              </div>

              <div ng-switch-when="4">
                <tabset justified="true">
                    <!-- ########################### WRITE ################################ -->
                    <tab heading="Documentation">
                      <div class="panel panel-default add-step-tabs">
                        <div class="panel-body">
                          <form name="form" role="form" ng-submit="saveEditedStep(step.id)" novalidate class="create-project">
                            <div class="form-group">
                                <label>Title</label>
                                <input name="title" class="form-control" ng-model="step.title" required>
                                <div ng-show="form.$submitted || form.title.$touched">
                                  <p ng-show="form.title.$error.required">You need to input description for the project.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                <textarea name="body" class="form-control" rows="20" ng-model="step.body" required></textarea>
                                <div ng-show="form.$submitted || form.body.$touched">
                                  <p ng-show="form.body.$error.required">You need to input description for the project.</p>
                                </div>
                            </div>
                            <div class="form-group text-right">
                              <button type="submit" class="btn btn-default btn-lg btn-cyan">Save Step</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </tab>
                    <!-- ########################### PREVIEW ################################ -->
                    <tab heading="Preview">
                      <div class="panel panel-default add-step-tabs">
                        <div class="panel-body">
                          <div btf-markdown="step.body">
                          </div>
                        </div>
                      </div>
                    </tab>
                    <!-- ########################### ASSETS ################################ -->
                    <tab heading="Assets">
                      <div class="panel panel-default add-step-tabs">
                        <div class="panel-body">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <b>Copy the URL</b>
                            </div>
                            <div class="panel-body">
                              <div class="col-lg-3 col-md-4" ng-repeat="image in images">
                                <img src="{{image.image_url}}" class="img-thumbnail">
                                <div class="form-group" style="margin-top: 10px;">
                                  <input class="form-control" ng-model="image.image_url" required>
                                </div>
                              </div>
                            </div>
                          </div>

                          <form ng-submit="imageProfile()">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group profile-photo">
                                  <span class="file-input btn btn-block btn-file" uploader="uploader" >
                                    <div class="jumbotron" >
                                      <ul >
                                        <i class="fa fa-camera"> Upload Image</i>
                                      <ul>
                                    </div> 
                                    <input type="file" nv-file-select="" uploader="uploader" required/>
                                  </span >
                                </div>


                                <div class="form-group">
                                  <p align="right" ng-hide="asd">
                                    <button type="submit" class="btn btn-default btn-lg btn-black">Upload Image</button>
                                  </p>
                                  <p align="right" ng-show="asd">
                                    <button type="submit" class="btn btn-default btn-lg btn-black" disabled="disabled">Uploading Image</button>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </tab>
                  </tabset>
              </div>

            </section>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>