<div id="wrapper" ng-controller = "editTutorialController">
  <div id="page-wrapper"><br><br>
    <!-- /.row -->
    <ol class="breadcrumb">
      <li><a href="#/project/{{project.id}}">{{ project.title }}</a></li>
      <li class="active">{{ tutorial.title }}</li>
    </ol>
    <form name="form" role="form" ng-submit="editTutorial()" novalidate class="create-tutorial">
      <h3>
        <div class"row">
          <div class="col-md-10" ng-hide="edit" style="padding-left: 0;">
            <small>Tutorial Name:</small> {{tutorial.title}}
          </div>
          <div class="col-md-12" ng-show="edit">
            <div class="col-md-2" >
              <small>Tutorial Name:</small> 
            </div>
            <div class="col-md-10" >
              <input name="title" class="form-control" ng-model="tutorial.title" required=""><br>
            </div>
          </div>
          <div class="col-md-2" ng-hide="edit"> 
            <p align="right"><a href="" ng-click = "editForm()" class="btn btn-default btn-sm" >Edit <i class="fa fa-pencil-square-o"></i></a></p>
          </div>
        </div>
      </h3>

      <div class="row">
        <div class="add-steps-tutorial">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                  <div class="panel-body">
                    <!--<fieldset data-ng-repeat="pfunction in pfunctions">-->
                    <div class="form-group">
                      <div class="media">
                        <div class="media-body">
                          <div ng-show="form.$submitted || form.title.$touched">
                            <p ng-show="!tutorial.title ">Please input project title.</p>
                          </div>
                          <label>Description</label><br>
                          <span ng-hide="edit">{{tutorial.description}}</span>
                          <textarea ng-show="edit" name="desc" class="form-control" rows="5" ng-model="tutorial.description" required></textarea>
                          <div ng-show="form.$submitted || form.desc.$touched">
                            <p ng-show="form.desc.$error.required">Please input description for the project.</p>
                          </div>
                        </div>
                      </div>                 
                    </div> 
                    <div class="form-group">
                      <label>Implemented On: <span ng-hide="edit" class="label label-default">{{tutorial.implementedOn}}</span></label>
                      <select class="form-control" ng-model="tutorial.implementedOn" ng-show="edit">
                        <option value="Rails">Rails</option>
                        <option value="AngularJS">AngularJS</option>
                        <option value="HTML/CSS">HTML/CSS</option>
                      </select> 
                    </div>
                    <div class="form-group">
                      <label ng-hide="edit" >Difficulty:<rating readonly="true" ng-model="tutorial.difficulty" max="max" class="star-rating"></rating></label> 
                      <label ng-show="edit" >Difficulty:<rating  ng-model="tutorial.difficulty" max="max" class="star-rating"></rating></label> 
                    </div>
                    <div ng-show="edit" class="form-group">
                      <p class="text-right">
                        <p align="right">
                           <button type="submit" class="btn btn-default">Save Tutorial</button> 
                          <a href="" ng-click = "cancelEdit()" class="btn btn-default" >Cancel</a>
                        </p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <section class="_list-of-steps">

        <div class="well quick-btn clearfix">
          <a href="#/project/{{project.id}}/tutotial/{{tutorial.id}}/step/add/form" type="submit" class="btn btn-default btn-cyan">Add Steps</a>      
        </div>

        <div ng-hide="edit">
          <div class="form-group">
            <label>Steps</label>
          </div>
          <div class="tutorial-steps-list">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="step in steps">
                <div class="row">
                  <div class="col-md-10">              
                    <div class="media">
                      <div class="media-left">
                        <div>
                          <span class="label label-default">{{ $index+1 }}</span>
                        </div>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{step.title}}</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <p class="text-right tutorial-action-btn">
                      <a href="#/project/{{project.id}}/tutotial/{{tutorial.id}}/step/{{step.id}}/edit" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i></a>
                      <a href="" class="btn btn-default btn-remove btn-xs" ng-click="delete(step.id)"><i class="fa fa-trash-o"></i></span></a>
                    </p>
                  </div> 
                </div>
              </li>
            </ul>
          </div>

<!--           <div class="tutorial-steps-list">
            <div class="well" ng-repeat="step in steps">
              <ul class="list-inline">
                <li><h2><span class="label label-default">{{ $index+1 }}</span></h2></li>
                <li><h3>{{step.title}}</h3></li>
              </ul>
              <p>
                <div btf-markdown="step.body">
                </div>
              </p>
              <p align="right"><a href="#/project/{{project.id}}/tutotial/{{tutorial.id}}/step/{{step.id}}/edit" class="btn btn-default btn-black" >Edit</a> <a href="" class="btn btn-default  btn-gray" ng-click="delete(step.id)">Delete</span></a></p>
            </div>
          </div> -->

        </div>
      </section>
  </div>
</div>