<body ng-app="ultron" ng-controller="sessionController as session">  

  <section ng-switch="logged_in">
    <div ng-switch-when="null">
        <div ng-view class="view-frame"></div> 
    </div>

    <div ng-switch-when="true">
      <section ng-controller="sideBarController">

        <section ng-switch="testUser.confirmed">
          
          <div ng-switch-when="false">
            <div ng-view class="view-frame"></div> 
          </div>

          <div ng-switch-when="true">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" >
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/dashboard">
                  <ul class="list-inline">
                    <li><img src="https://d6th87c092uox.cloudfront.net/bootyard-website/website/ultron-logo.PNG?X-Amz-Date=20150718T113045Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=2f087448a0b40044f692415ccec84b5892e1de6847941566245b5b0ddfcef30e&X-Amz-Credential=ASIAII46PTUFG7KYMJEA/20150718/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEEEakAKvwE2%2BrWuG/Ias5FIW8ghKltTIi1X6vPX0x5oLRMUxvzp3WvMTls8uNw2D16IVAuQd3rxyl6dxG0uHQUhKg7GXlBh7oyzXGRvSMRokdgOz7l2xYz1MayDVaqLpJfccWfxq1wpSlQHbfRJXgsWx4/luZNqUTVIxNbkqFRCmHpIHZMwS4eOI3ViqADT02xIK1cmTtI6aiCtRzDCGOLRByeAgCi0im2NRyulBiQfaqP7EFXldO3m1A%2BBfXCyivvAhzE8cpki2wMdKSq6ZaAg%2BTYky3HRFdR%2B1sVzq5vxc22ObSLVhyGWZxFY0eAgg4qywksI%2BAyygn1GMXqYcLEwsKnCbqATsQJ5UALTsgj%2B47dLBpCCth6itBQ%3D%3D"></li>
                    <li><p>ULTRON</p></li>
                  </ul>
                </a>
              </div>
              <!-- /.navbar-header -->
              <ul class="nav navbar-top-links navbar-right">
                  <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                      </li>
                      <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="" ng-click="session.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                      </li>
                    </ul>
                  </li>
                  <!-- /.dropdown -->
              </ul>
              <!-- /.navbar-top-links -->
              <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu" ng-hide="viewStep">
                    <li>
                      <a href="#/dashboard"><i class="fa fa-rocket fa-fw"></i> Dashboard</a>
                    </li>
                    <li >
                      <a href="#/projects"><i class="fa fa-database fa-fw"></i> My Projects</a>
                    </li>
                    <li ng-show = "testUser.user_type == 1">
                      <a href="#/project/new"><i class="fa fa-plus fa-fw"></i>Create New Project</a>
                    </li>
                    <li ng-show = "testUser.user_type == 1">
                      <a href="#/users"><i class="fa fa-user fa-fw"></i>Users</a>
                    </li>
                  </ul>
                </div>
                  <!-- /.sidebar-collapse -->
              </div>
            <!-- /.navbar-static-side -->
            </nav>
            <div ng-view class="view-frame"></div> 
          </div>
        </section>  
      </section>
    </div>
  </section>
 
</body>  