<div id="wrapper" ng-controller = "addTutorialController">
  <div id="page-wrapper">
    <div class="row">
      <div class="project-details">
        <div class="col-lg-12">
          <form name="form" role="form" ng-submit="editProject()" novalidate class="create-project">
            <div class="page-header">              
              <h1>
                <div class"row">
                  <div class="col-md-10" ng-hide="edit">
                    <small>Project Name:</small> {{project.title}}
                  </div>
                  <div class="col-md-12" ng-show="edit">
                    <div class="col-md-2" >
                      <small>Project Name:</small> 
                    </div>
                    <div class="col-md-10" >
                      <input ng-show="edit" name="title" class="form-control" ng-model="project.title" required="">
                    </div>
                    
                  </div>
                  <div class="col-md-2" ng-hide="edit"> 
                    <p align="right"><a href="" ng-click = "editForm()" class="btn btn-default btn-sm" >Edit <i class="fa fa-pencil-square-o"></i></a></p>
                  </div>
                </div>
              </h1>
            </div>
            <div class="">
              <div ng-show="form.$submitted || form.title.$touched">
                <p ng-show="form.title.$error.required">You need to input project title name here.</p>
              </div>
              <h2>Description</h2>
              <span ng-hide="edit" >{{project.description}}</span>
                <textarea ng-show="edit" name="desc" class="form-control" rows="8" ng-model="project.description" required =""></textarea>
                <div ng-show="form.$submitted || form.desc.$touched">
                  <p ng-show="form.desc.$error.required">You need to input description for the project.</p>
                </div>
              <h2>Technology Stack</h2>
              <div ng-hide="edit" class="technology-stack">
                <ul class="list-inline">
                  <li><h4>Frameworks:</h4></li>
                  <li><span ng-show="project.rails">Rails</span></li>
                  <li><span ng-show="project.angularJS">AngularJS</span></li>
                  <li><h4>Database:</h4></li>
                  <li><span ng-show="project.mongoDB">MongoDB</span></li>
                  <li><span ng-show="project.postgreSQL">PostgreSQL</span></li>
                  <li><span ng-show="project.mySQL">MySQL</span></li>
                  <li><h4>Server:</h4></li>
                  <li><span ng-show="project.heroku">Heroku</span></li>
                  <li><span ng-show="project.windowsAzure">Windows Azure</span></li>
                  <li><span ng-show="project.eC2">EC2</span></li>
                </ul>
              </div>


              <div ng-show="edit" class="well">
                <div class="form-group">
                   <h4>Frameworks:</h4>
                    <label class="checkbox-inline">
                      <input name="rails" type="checkbox" ng-model="project.rails">Rails
                    </label>
                    <label class="checkbox-inline">
                      <input name="angularJs" type="checkbox" ng-model="project.angularJS">AngularJS
                    </label>
                    <div ng-show="form.$submitted || form.rails.$touched || form.angularJs.$touched">
                      <p ng-show="!project.rails && !project.angularJS">Please choose the Frameworks used.</p>
                    </div>
                </div>
                <div class="form-group">
                   <h4>Database:</h4>
                    <label class="checkbox-inline">
                      <input name="mongoDB" type="checkbox" ng-model="project.mongoDB">MongoDB
                    </label>
                    <label class="checkbox-inline">
                      <input name="postgreSQL" type="checkbox" ng-model="project.postgreSQL">PostgreSQL
                    </label>
                    <label class="checkbox-inline">
                      <input name="mySQL" type="checkbox" ng-model="project.mySQL">MySQL
                    </label>
                    <div ng-show="form.$submitted || (form.mongoDB.$touched || (form.postgreSQL.$touched ||form.mySQL.$touched))">
                      <p ng-show="!project.mongoDB && !project.postgreSQL && !project.mySQL">Please choose the Database used.</p>
                    </div>
                </div>
                <div class="form-group">
                  <h4>Server:</h4>
                    <label class="checkbox-inline">
                      <input name="heroku" type="checkbox" ng-model="project.heroku">Heroku
                    </label>
                    <label class="checkbox-inline">
                      <input name="windowsAzure" type="checkbox" ng-model="project.windowsAzure">Windows Azure
                    </label>
                    <label class="checkbox-inline">
                      <input name="eC2" type="checkbox" ng-model="project.eC2">EC2
                    </label>
                    <div ng-show="form.$submitted || (form.heroku.$touched || (form.windowsAzure.$touched ||form.eC2.$touched))">
                      <p ng-show="!project.heroku && !project.windowsAzure && !project.eC2">Please choose the Server used.</p>
                    </div>
                </div>
              </div>
            </form>
            <div ng-show="edit" class="form-group">
              <p class="text-right">
                <p align="right">
                   <button type="submit" class="btn btn-default  btn-cyan">Save Project</button> 
                  <a href="" ng-click = "cancelEdit()" class="btn btn-default  btn-gray" >Cancel</a>
                </p>
              </p>
            </div>
            <h2>Tutorials</h2>
            <section class="list-of-tutorials">
              <div class="well">
                <a href="" class="btn btn-default btn-cyan" data-toggle="modal" data-target="#myModal">New Tutorial <i class="fa fa-plus"></i></a>
                <a href="#/project/{{project.id}}/tutorial/add/search" class="btn btn-default btn-black">Add Tutorial From List</a>                  
              </div>

              <ul class="list-group">
                <li class="list-group-item" ng-repeat="tutorialOnProject in tutorialOnProjects">
                  <div class="tutorial-list">
                    <h3><a href="#/tutorial/{{tutorialOnProject.tutorial_id}}/steps/view">{{tutorialOnProject.tutorial_title}}</a></h3>
                    <p>{{tutorialOnProject.tutorial_description}}</p>
                    <p><strong>Implemented On:</strong> {{tutorialOnProject.tutorial_implementedOn}}</p>
                    <p class="rating"><strong>Difficulty:</strong> <rating readonly="true" ng-model="tutorialOnProject.tutorial_difficulty" max="max"></rating></p>
                    <p align="right" class="actions">
                      <a  href="#/project/{{project.id}}/tutorial/{{tutorialOnProject.tutorial_id}}/edit" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i></a>  
                      <a href="#/project/{{tutorialOnProject.project_id}}/tutorial/{{tutorialOnProject.tutorial_id}}/steps/view" class="btn btn-default btn-xs" ><i class="fa fa-external-link-square"></i></a>  
                      <a href="" ng-click="delete(tutorialOnProject.id)" class="btn btn-default btn-remove btn-xs" ><i class="fa fa-trash-o"></i></a>
                    </p> 
                  </div>
                </li>
              </ul>
            </section>

          </div>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade modal-add-tutorial" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create New Tutorial</h4>
        </div>
        <form name="form" class="form-horizontal create-tutorial" role="form" novalidate ng-submit="createNewTutorial()" >
        <div class="modal-body">
          <br>
          <div class="form-group">
            <label class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
              <input name="title" class="form-control" ng-model="tutorial.title" required="">    
              <div ng-show="form.$submitted || form.title.$touched">
                <p ng-show="!tutorial.title ">Please input project title.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea name="desc" class="form-control" rows="5" ng-model="tutorial.description" required></textarea>
              <div ng-show="form.$submitted || form.desc.$touched">
                <p ng-show="form.desc.$error.required">Please input description for the project.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Implemented On</label>
            <div class="col-sm-9">
              <select name="imp" class="form-control" ng-model="tutorial.implementedOn" required="">
                <option value="">None</option>
                <option value="Rails">Rails</option>
                <option value="AngularJS">AngularJS</option>
                <option value="HTML/CSS">HTML/CSS</option>
              </select> 
              <div ng-show="form.$submitted || form.imp.$touched">
                <p ng-show="form.imp.$error.required">Please choose Implemented On.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Difficulty</label>
            <div class="col-sm-9">
              <rating name="rate" ng-model="tutorial.difficulty" max="max"  on-hover="hoveringOver(value)" ng-click="starValue(value)" on-leave="overStar = null" class="star-rating"></rating>  
              <div ng-show="form.$submitted || form.rate.$touched">
                <p ng-show="!tutorial.difficulty">Please rate the tutorial on how difficult it is.</p>
              </div>      
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-cyan">Save Tutorial</button>
        </div>
        </form>
      </div>
    </div>
  </div>

</div>
    <!-- /#wrapper -->



