<div id="wrapper" ng-controller="projectListController">
  <div id="page-wrapper">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">List of Projects</h1>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row project-list">
        <section class="projects_list">
          <div class="col-md-12">
            <div class="list-group">
              <a href="#project/{{project.id}}" class="list-group-item" ng-repeat="project in projects">
                <div class="">
                  <div class="">
                    <h3>{{project.title}}</h3>
                    <p>{{project.description}}</p>
                    <div class="technology-stack">
                      <ul class="list-inline">
                        <li><h4>Frameworks:</h4></li>
                        <li><span ng-show="project.rails">Rails</span></li>
                        <li><span ng-show="project.angularJS">AngularJS</span></li>
                        <li><h4>Database:</h4></li>
                        <li><span ng-show="project.mongoDB">MongoDB</span></li>
                        <li><span ng-show="project.postgreSQL">PostgreSQL</span></li>
                        <li><span ng-show="project.mySQL">MySQL</span></li>
                        <li><h4>Server:</h4></li>
                        <li><span ng-show="project.heroku">Heroku</span></li>
                        <li><span ng-show="project.windowsAzure">Windows Azure</span></li>
                        <li><span ng-show="project.eC2">EC2</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </section>
      </div>
  </div>
    <!-- /#page-wrapper -->
</div>
    <!-- /#wrapper -->