body

  a 
    color: #1CBCBC
  a:hover, a:focus
    color: #16B4B5

  .navbar-right 
    margin-right: 0
  ol.breadcrumb
    padding: 8px 15px
    margin-bottom: 25px
    background-color: #FAFAFA
    border-radius: 3px

  .btn.btn-black
    background: #333
    color: #fff
    border: none
    border-bottom: 2px solid #000
    border-radius: 4px
    padding: 8px 20px
    &:hover 
      background: #000
  .btn.btn-cyan
    background: #229697
    color: #fff
    border: none
    border-bottom: 2px solid #1A7778
    border-radius: 4px
    padding: 8px 20px
    &:hover 
      background: #1F8788
  .btn.btn-gray
    background: #9E9E9E
    color: #fff
    border: none
    border-bottom: 2px solid #7B7B7B
    border-radius: 4px
    padding: 8px 20px
    &:hover 
      background: #929292
  .btn.btn-red
    background: #E94343
    color: #fff
    border: none
    border-bottom: 2px solid #B93030
    border-radius: 4px
    padding: 8px 20px
    &:hover 
      background: #929292

  span.label 
    background-color: #333
    border-radius: 0
    font-size: 80%
    line-height: 25px
    padding: .3em .6em 0.3em
  span.label-rails
    border-left: 4px solid #f00 !important
  span.label-angularjs
    border-left: 4px solid #FF7600 !important
  span.label-mongodb
    border-left: 4px solid #48A73A !important
  span.label-heroku
    border-left: 4px solid #6460AE !important
  span.label-postgresql
    border-left: 4px solid #316192 !important
  span.label-mysql
    border-left: 4px solid #00618B !important
  span.label-azure
    border-left: 4px solid #00BBF3 !important
  span.label-ec2
    border-left: 4px solid #F7981D !important

section.homepage
  background: url('https://d6th87c092uox.cloudfront.net/bootyard-website/website/bg-ultron.JPG?X-Amz-Date=20150731T184118Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=45b5e90327578b42109d4bfb6901c3f39d416c165ae8c35baad0c77fdb56b477&X-Amz-Credential=ASIAJFAQUREQTKAVT6HQ/20150731/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJT//////////wEakAJVTxCo4Qsd5Vl8fAgzPBn5h6qcjkByeg2klFglpmn0PeQfDeRE5yPgB%2BMEQJx%2BjOb/xLfog%2BYwhYqfHurQf/h7BLrW/iovv7FckPEg3fDkuLj76SiYJjDpbNcj4ABZCHxoSl6KTIw5StlGqgUj7vbLQc76TIUXKSEafs5b4MsarclE9BHwj1Ezu1EpEXiSBomX3PeQNeq2Gvelu8rIrbwuOZ%2BxEfPAptRExRRrfzM%2Be8/n2or5ZROx/NTSthyaotXG8MHSU/POHhR/m2KMmwKB9B0KyQpXWiNHE8IBRVM9QsrVFpkPo6/n5TxCx/S6FuGY4LyOsTna631gE2NzgVzTpvZkbUp546GSNswgCVwORiCQgu%2BtBQ%3D%3D') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  min-height: 800px
  height: 100%
  width: 100%
  .sign-in-panel 
    .panel 
      background: rgba(0,0,0, 0.45)
      border: 5px solid #3DBD96
      border-color: #3DBD96
      color: #fff
      margin-top: 150px
      input 
        border-radius: 3px
      h3 
        font-size: 32px
        text-align: center
        margin-bottom: 15px
        color: #3DBD96
      a.btn 
        background-color: #3DBD96
        border: none
        color: #fff
        border-radius: 3px
        &:hover 
          background-color: #309B7A


p.rating .glyphicon
  color: #FF9D00
  font-size: 17px
  line-height: 21px
  margin: 0 1px








