.navbar-default.sidebar.sidebar-tutorial
  background-color: #426263 !important

.sidebar-tutorial
  margin-top: 0 !important
  h2 
    color: #fff
    font-size: 18px
    margin-bottom: 20px
    padding: 5px 10px
    text-align: center
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  ul li a i.fa
    font-size: 12px !important
  ul li 
    .btn 
      border-radius: 0
      background-color: #21696A
      color: #fff
      border: none
      &:hover
        background-color: #27A1A2
  ul li.step-style a 
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.tutorial-container
  padding: 0 !important
  .page-header 
    border-bottom: 4px solid #245D5D
    h1 
      font-size: 28px
      font-weight: 600
  .tutorial-content
    padding-bottom: 80px


footer.tutorial-sticky-footer
  background: #4D4D4D
  bottom: 0 !important
  padding: 10px
  right: 0
  left: 0
  margin-bottom: 0
  z-index: 10
  
.modal-add-tutorial
  .modal-header
    color: #333
    background-color: #f5f5f5
    border-color: #ddd
    border-radius: 4px 4px 0 0
    h4
      font-weight: bold
  form .star-rating
    color: #FF9D00
    font-size: 26px



























