<div id="wrapper" ng-controller = "createProjectController">
  <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create a Project</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="add-project">
        <div class="col-md-12">
          <div class="">
            <div class="">
              <form name="form "role="form" ng-submit="createProject()" novalidate class="create-project" >
                <div class="form-group">
                    <label>Title</label>
                    <input name="title" class="form-control" ng-model="project.title" ng-pattern="/^([a-zA-Z0-9 _-]+)$/" required="">
                    <div ng-show="form.$submitted || form.title.$touched">
                      <p ng-show="form.title.$error.required">You need to input project title name here.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea name="desc"class="form-control" rows="8" ng-model="project.description" required =""></textarea>
                    <div ng-show="form.$submitted || form.desc.$touched">
                      <p ng-show="form.desc.$error.required">You need to input description for the project.</p>
                    </div>
                </div>
                <div class="form-group">
                  <label>Technology</label>
                  <div class="well">
                    <div class="form-group">
                       <h3>Frameworks:</h3>
                        <label class="checkbox-inline">
                            <input name="rails" type="checkbox" ng-model="project.rails">Rails
                        </label>
                        <label class="checkbox-inline">
                            <input name="angularJs" type="checkbox" ng-model="project.angularJS">AngularJS
                        </label>
                        <div ng-show="form.$submitted || form.rails.$touched || form.angularJs.$touched">
                          <p ng-show="!project.rails && !project.angularJS">Please choose the Frameworks used.</p>
                        </div>
                    </div>
                    <div class="form-group">
                       <h3>Database:</h3>
                        <label class="checkbox-inline">
                            <input name="mongoDB" type="checkbox" ng-model="project.mongoDB">MongoDB
                        </label>
                        <label class="checkbox-inline">
                            <input name="postgreSQL" type="checkbox" ng-model="project.postgreSQL">PostgreSQL
                        </label>
                        <label class="checkbox-inline">
                            <input name="mySQL" type="checkbox" ng-model="project.mySQL">MySQL
                        </label>
                        <div ng-show="form.$submitted || (form.mongoDB.$touched || (form.postgreSQL.$touched ||form.mySQL.$touched))">
                          <p ng-show="!project.mongoDB && !project.postgreSQL && !project.mySQL">Please choose the Database used.</p>
                        </div>
                    </div>
                    <div class="form-group">
                       <h3>Server:</h3>
                        <label class="checkbox-inline">
                            <input name="heroku" type="checkbox" ng-model="project.heroku">Heroku
                        </label>
                        <label class="checkbox-inline">
                            <input name="windowsAzure" type="checkbox" ng-model="project.windowsAzure">Windows Azure
                        </label>
                        <label class="checkbox-inline">
                            <input name="eC2" type="checkbox" ng-model="project.eC2">EC2
                        </label>
                        <div ng-show="form.$submitted || (form.heroku.$touched || (form.windowsAzure.$touched ||form.eC2.$touched))">
                          <p ng-show="!project.heroku && !project.windowsAzure && !project.eC2">Please choose the Server used.</p>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <p class="text-right">
                      <button type="submit" class="btn btn-default btn-lg btn-cyan">Create Project</button> 
                      <button type="reset" class="btn btn-default btn-lg btn-gray">Cancel</button>
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /#page-wrapper -->

</div>
    <!-- /#wrapper -->



